html,
body {
	background-color: #fff;
	color: #01071f;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	display: block;
	margin: 0;
	max-width: 100%;
}

a{
	color: #375EEA;
	font-size: 1.125rem;
	font-weight: 700;
}

button{
	background-color: #375EEA;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 1rem 2rem;
	border-radius: 3rem;
	border: none;
}

button:hover{
	background-color: #4B73FF;
	color: #E3E9FF;
}

img{
	display: block;
	max-width: 100%;
	max-height: auto;
}

h1{
	font-size: 2.5rem;
	color: #375EEA;
}

h2{
	font-size: 2rem;
	color: #375EEA;
}

h3{
	font-size: 1.75rem;
	color:#01071f;
}

h4{
	font-size: 1.5rem;
	color:#01071f;
}

p{
	font-size: 1rem;
}

#logo-text{
	font-size: 2rem;
	font-variant: small-caps;
	letter-spacing: .1rem;
}

#light-heading{
	color: #fff;
}

#icon{
	width: 2rem;
	background-color: #fff;
	padding: .5rem;
	margin: 0rem 1rem;
	border-radius: 4rem;
}


/* Header */

header{
	display: flex;
	align-items: center;
	background-color: #375EEA;
	color: #fff;
	width: 100%;
	position: fixed;
	z-index: 100;
}

nav{
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding: .5rem 1rem;
}

ul{
	display: flex;
	justify-content: flex-end;
}

nav li{
	list-style-type: none;
	display: inline-block;
	align-items: center;
	margin: 0rem .75rem;
}

li a{
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}

.logo{
	display: inline-flex;
	align-items: center;
	height: 2rem;
}

.logo img{
	width: 3rem;
	height: 3rem;
}

.logo-text{
	color:#fff;
	font-size: 2.5rem;
	font-weight: 300;
	font-variant-caps: all-small-caps;
}

/* Hero Section */

.contentHero{
	display: inline-flex;
	align-content: center;
	margin-top: 4rem;
	background-color:#f3ffbb;
	width: 100%;
	padding: 1.5rem;
}

.contentHeroLeft{
	overflow: hidden;
	height: 100%;
}

.contentHeroRight{
	display: flex;
	padding: 0rem 2rem;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.contentCopy{
	padding: 2rem;
	display: block;
}


/* Information Section */

.contentInfo{
	display: inline-flex;
	padding: 1.5rem;
	justify-content: center;
	background-color: #375EEA;
}

.contentInfoLeft{
	display: block;
	width: 60%;
}

.contentInfoLeft img{
	width: 100%;
	height: auto;
}

.contentInfoRight{
	display: flex;
	flex-direction: column;
	margin: 0rem 1rem;
}

.infoCard{
	display: flex;
	align-items: center;
	background-color: #fff;
	margin: 0rem 1rem 1rem 1rem;
}

.cardContent{
	color: #01071f;
	display: block;
	padding: .15rem 1.5rem 1.5rem 1.5rem;
}

.infoCard img{
	width: 35%;
	height: auto;
	padding: 1rem;
}

/* Course Section */

.courseContent{
	display: block;
	background-color:#f3ffbb;
	justify-content: center;
	width: 100%;
	padding-bottom: 2rem;
}
.sectionTitle{
	text-align: center;
	padding: .5rem;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.courseCard{
	background-color: #fff;
	margin: 1.5rem;
	flex-basis: 24rem;
	border-radius: 1rem;
}

.courseCard img{
	width: 100%;
	border-radius: 1rem 1rem 0rem 0rem;
}

/* Thesis Section */

.contentThesis{
	display: block;
	margin: 2rem;
}

.contentMainThesis{
	display: inline-flex;
}

.contentThesisLeft{
	display: flex;
	width: 60%;
	margin: 2rem 0rem 2rem 0rem;
}

.contentThesisLeft img{
	width: 100%;
	height: auto;
}

.contentThesisRight{
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.thesisCard{
	display: flex;
	align-items: center;
	background-color: #375EEA;
	margin: 1rem;
	width: 100%;
}

.thesisCard img{
	width: 35%;
	height: auto;
	padding: 1rem;
}

footer{
	background-color: #fefefe;
	color: #01071f;
	display: flex;
	margin: .25rem;
	width: 100%;
	margin: 2rem;
}

footer li{
	list-style-type: none;
	padding: .5rem;
	display: inline-flex;
	padding: 0px 10px;
}

@media only screen and (min-width: 601px){
	#icon{
		display: none;
	}
}



/* Mobile */

@media only screen and (max-width: 600px){
	header{
		top: 0;
	}

	h1{
		font-size: 2rem;
	}
	
	h2{
		font-size: 1.75rem;
	}
	
	h3{
		font-size: 1.5rem;
	}
	
	h4{
		font-size: 1.25rem;
		margin: .5rem 0rem;
	}

	nav{
		padding: 0rem .5rem;
	}

	#logo-text{
		display: none;
	}

	#icon{
		color: #fff;
		height: 2.5rem;
		margin: .75rem;
	}

	#nav-text{
		display: none;
	}

	#for-companies{
		display:none;
	}

	/* Mobile Hero */

	.contentHero{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0;
	}

	.contentHeroLeft{
		overflow: hidden;
		width: 100%;
		margin: 0;
	}
	
	.contentHeroRight{
		display: flex;
		padding: 0rem;
		justify-content: center;
		align-items: center;
	}
	
	.contentHeroCopy{
		padding: 2.5rem;
		display: block;
	}

	.contentCopy{
		padding: 1rem 1rem 2rem 1rem;
		display: block;
	}

	/* Mobile Information */

	.contentInfo{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.contentInfoLeft{
		display: none;
	}
	
	.contentInfoRight{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	
	.infoCard{
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: #fff;
		margin: 1rem;
	}

	.infoCard img{
		overflow: hidden;
		width: 100%;
		padding: 0rem;
	}

	.cardContent{
		padding: .5;
		margin: .5;
		display: block;
		text-align: left;
	}

	/* Mobile Courses */

	#courseImage{
		display: none;
	}

	.cardContent{
		padding: 1.25rem 1.25rem 1.25rem 1.25rem;
		margin: 0;
	}

	.courseContent{
		padding-top: 1rem;
	}
	
	.cards{
		display: flex;
		justify-content: center;
	}
	
	.courseCard{
		background-color: #fff;
		margin: .5rem;
		flex-basis: 90%;
		border-radius: 1rem;
	}

	.course-description{
		display: none;
	}
	
	
	/* Mobile Thesis */

	.contentMainThesis{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.sectionTitle{
		padding: 0;
	}
	
	.contentThesisLeft{
		display: flex;
		width: 100%;
		margin: .5rem;
	}
	
	.contentThesisLeft img{
		width: 100%;
		height: auto;
	}
	
	.contentThesisRight{
		display: none;
	}

	.contentCopy{
		display: none;
	}



}