body {
	background-color: #fefefe;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	display: block;
	margin: 0;
}

header{
	display: inline-flex;
	background-color: #fefefe;
	color: #000;
}

nav{

}

ul{
	display: inline-flex;
}

li{
	list-style-type: none;
	padding: .5rem;
}

li a{
	text-decoration: none;
}

.logo{
	height: 2rem;
}

a{
	color: #000;
	font-size: 1.125rem;
}

img{
	display: block;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.75rem;
}

h3{
	font-size: 1.5rem;
}

h4{
	font-size: 1.25rem;
}

p{
	font-size: 1rem;
}

.hero{
	display: flex;
}

.hero img{
	width: 60%;
}

.main-content{

}

.info-card{

}

.info-card img{
	width: 35%;
}

.course-card{

}

.course-card img{

}

.information{
	display: flex;
}

.courses{
	display: flex;
}

.thesis{
	display: flex;
}

footer{
	background-color: #fefefe
	color: #000;
}