body {
	background-color: #fefefe;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	display: block;
	margin: 0;
}

header{
	display: inline-flex;
	background-color: #fefefe;
	color: #000;
}

nav{
	display: flex;
	justify-content: flex-end;
}

.logo{
	height: 2rem;
}

a{
	color: #000;
	font-size: 1.125rem;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.75rem;
}

h3{
	font-size: 1.5rem;
}

h4{
	font-size: 1.25rem;
}

p{
	font-size: 1rem;
}

.hero{
	display: flex;
}

.main-content{

}

.info-card{

}

.course-card{

}

.information{
	display: flex;
}

.courses{
	display: flex;
}

.thesis{
	display: flex;
}

footer{
	background-color: #fefefe
	color: #000;
}